
<body>
<div class="main">
    <!--//导航-->
    <!--//主体-->
    <div class="container">
        <div class="cont clear">
            <div class="create-left col-sm-12 col-md-9 ">
                <div class="create-left-head">
                    <h2 class="hidden-xs">
                        <i class="fa fa-edit"></i>
                        编辑
                    </h2>
                </div>
                <div class="create-left-body">
                    <h3>问题的分类</h3>
                    <select name="" id="">
                        <option value="">分享</option>
                        <option value="">问答</option>
                        <option value="">招聘</option>
                    </select>
                    <h3>问题的标题</h3>
                    <input type="text" value="问题标题.." class="create-title">
                    <h3>问题补充：</h3>
                    <div class="markdown-text">
                        <textarea name="" id="" cols="" rows=""placeholder="问题支持markdown格式,请注意标记代码"></textarea>
                    </div>
                </div>
                <div class="create-left=footer">
                    <input type="submit" value="发布问题" class="btn btn-large btn-success anniu">
                </div>
            </div>
            <div class="center-right col-sm-12 col-md-3 ">

            </div>
        </div>
    </div>

    <!--//页脚-->
</div>
</body>
<script>
    const simplemde = new SimpleMDE();

</script>
<script src="/plugins/jquery/dist/zichuang.js"></script>
