
<body>
<div class="main">
    <!--//导航-->

    <!--//主体-->
    <div class="container">

        <div class="cont clear">
            <div class="center-left col-sm-12 col-md-9 ">
                <div class="question-head">
                    <h4>
                       <span><a href="">问答</a></span>
                    </h4>
                    <p>文章的标题</p>
                    <span class="pull-right guanq">
                         <a href="#" class="btn btn-normal btn-success">
                                    <span>关注</span>
                                    <em>|</em>
                                    <b>0</b>
                                </a>
                    </span>
                </div>
                <div class="question-content">
                    <div class="question-body">
                        <p>我是文章的内容</p>
                        <div class="">
                            <span>1天前</span>
                            <span>23次浏览</span>
                            <span> <a href="/edit">
                                    <i class="fa fa-edit"></i>&nbsp;编辑</a>
                            </span>
                            <span>
                                <a href=""> <i class="fa fa-remove"></i> 删除</a>
                            </span>
                            <span class="pull-right big">
                                <a href=""><i class="fa fa-share-square-o"></i>&nbsp;分享</a>
                            </span>
                        </div>
                        <h1>1个回复</h1>
                    </div>
                    <div class="question-reply">
                        <a href="" class="ss ssl"> <img src="/images/default-avatar.jpg"></a>
                        <span><a href="">Mozpd</a><span class="bl">作者</span></span>
                        <div class="reply-cont"><p>我是回答的内容</p></div>
                        <div class="reply-foot">
                            <span>
                                <a href=""><i class="fa fa-thumbs-o-up"></i>
                                    0
                                </a>
                            </span>
                            <span>
                            <a href=""><i class="fa fa-comment-o"></i>
                                    1条回复
                            </a>
                            </span>
                            <span class="pull-right">5小时前</span>
                        </div>
                        <div class="reply-fin">
                            <a href="" class="ss" id="ssm"> <img src="/images/default-avatar.jpg"></a>
                            <span>Mozpd</span>
                            <div class="markdown">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="question-footer">
                    <div class="create-left=footer">
                        <a href="#"> <input type="submit" value="提交问题" class="btn btn-large btn-success anniu"></a>
                    </div>
                </div>
            </div>
            <div class="center-right  col-md-3 ">
                <div class="right-one clear">
                    <h4>发起人</h4>
                    <a href="" class="ss" id="ssm"> <img src="/images/default-avatar.jpg"></a>
                    <a href="" class="suiyi">Mozpd</a>
                    <a href="" class="pull-right">更多</a>
                    <p>个人简介</p>
                </div>
                <div class="right-two ">
                    <h4>相关问题</h4>
                    <p><a href="">我是问题一</a></p>
                    <p><a href="">我是问题二</a></p>
                </div>
                <div class="right-three">其他的模块</div>
            </div>
        </div>

    </div>


    <!--//页脚-->

</div>
</body>

<script>
    const simplemde = new SimpleMDE();

</script>
<script src="/plugins/jquery/dist/zichuang.js"></script>