
<body>
<div class="main">
    <!--//导航-->

    <!--//主体-->
    <div class="container">
        <div class="cont clear">
            <div class="center-left col-sm-12 col-md-9 ">
                <div class="center-left-head clear">
                    <img src="/images/default-avatar.jpg" class="pull-left">
                    <h4>qq用户名</h4>
                    <p>个人简介</p>
                    <span class="pull-right guanzhu">
                         <a href="#" class="btn btn-normal btn-success">
                                    <span>关注</span>
                                    <em>|</em>
                                    <b>0</b>
                                </a>
                    </span>
                </div>
                <div class="center-left-body">
                    <span>
                        <i class="fa fa-bar-chart-o"></i>积分:
                        <b>30</b>
                    </span>
                    <span>
                        注册时间:
                        <b>6天前</b>
                    </span>
                </div>
                <div class="center-left-footer">
                    <ul class="tab-menu nav nav-tabs  hidden-xs">
                        <li class="tab-active">
                            <a href="#questions" data-toggle="tab" class="a-active">
                                发问
                                <span class="badge">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#replys" data-toggle="tab">
                                回复
                                <span class="badge">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#focus" data-toggle="tab">关注</a>
                        </li>
                        <li>
                            <a href="#actions" data-toggle="tab">动态</a>
                        </li>
                    </ul>
                    <div class="tab-content ">
                        <section class="" id="">
                            <div class="all-head">
                                <h3>
                                    <a href="" class="pull-right">更多</a>
                                    <h4>发问</h4>
                                </h3>
                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>10次浏览  • 0 个关注   • 3小时前</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>10次浏览  • 0 个关注   • 3小时前</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>10次浏览  • 0 个关注   • 3小时前</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>10次浏览  • 0 个关注   • 3小时前</p>
                                </div>

                            </div>
                        </section>
                        <section class="hides" id="">
                            <div class="all-head">
                                <h3>
                                    <a href="" class="pull-right">更多</a>
                                    <h4>回复</h4>
                                </h3>
                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-thumbs-o-up"></i>           0
                                     </span>
                                    <p>我是评论的内容</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                       <i class="fa fa-thumbs-o-up"></i>            0
                                     </span>
                                    <p>委屈奥无热哇热若</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-thumbs-o-up"></i>           0
                                     </span>
                                    <p>1我是内容三</p>
                                </div>

                            </div>
                        </section>
                        <section class="hides" id="">
                            <div class="all-head">
                                <h3>
                                    <a href="" class="pull-right">更多</a>
                                    <h4>关注</h4>
                                </h3>
                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>1关注了某某</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>1关注了某某</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>1关注了某某</p>
                                </div>

                            </div>
                        </section>
                        <section class="hides" id="">
                            <div class="all-head">
                                <h3>
                                    <a href="" class="pull-right">更多</a>
                                    <h4>动态</h4>
                                </h3>
                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>最新动态</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>最新动态</p>
                                </div>

                            </div>
                            <div class="all-body">
                                <h5 class="all-body-title">
                                    <a href="/question">文章标题</a>
                                </h5>
                                <div class="all-body-cont">
                                     <span class="pull-left">
                                         <i class="fa fa-comment-o"></i>            0
                                     </span>
                                    <p>最新动态</p>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
            </div>
            <div class="center-right col-sm-12 col-md-3 ">
                <div class="attention">
                    <h3>关注 <b>2</b>人 <a href="" class="pull-right">更多</a></h3>
                    <p class="attention-img"><a href=""><img src="/images/avatar-mid-img.png"></a></p>
               </div>
                <div class="attentioned">
                    <h3>被<b>2</b>人关注  <a href="" class="pull-right">更多</a></h3>
                </div>
        </div>
    </div>




    <!--//页脚-->

</div>
</div>
</body>

<script>
    $(function () {
        $('.tab-menu li').click(function () {
            $('.tab-menu li').eq($(this).index()).addClass('tab-active').siblings().removeClass('tab-active');
            $('.tab-menu a').eq($(this).index()).addClass('a-active');
            $('.tab-content section').eq($(this).index()).css('display','block').siblings().css('display','none');
            console.log(1)
        })
        $('.tab-menu li').hover(function () {
            $('.tab-menu li').eq($(this).index()).addClass('tab-active').siblings().removeClass('tab-active');
        })
    })
</script>
<script src="/plugins/jquery/dist/zichuang.js"></script>